---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.feed.subtitle }}</subtitle>
    <link href="{{ metadata.feed.url }}" rel="self" type="application/atom+xml"/>
    <link href="{{ metadata.url }}"/>

    <!-- PubSubHubbub Discovery -->
    <link rel="hub" href="https://weisser-zwerg.superfeedr.com/" />
    <!-- End Of PubSubHubbub Discovery -->

    <updated>{{ collections.post | rssLastUpdatedDate }}</updated>
    <id>{{ metadata.feed.id }}</id>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for post in collections.post %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <entry>
            <id>{{ absolutePostUrl }}</id>
            <pubDate>{{ post.data.creationdate | rssDate }}</pubDate>
            <updated>{{ post.date | rssDate }}</updated>
            <link href="{{ absolutePostUrl }}"/>
            <link rel="alternate" type="text/html" href="{{ absolutePostUrl }}"/>
            <title>{{ post.data.title }}</title>
            <summary>{{ post.data.description }}</summary>
            <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
        </entry>
    {%- endfor %}
</feed>
