@import '../node_modules/bootstrap-scss/bootstrap';

.headline {
  FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #336699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.link {
  FONT-SIZE: 11px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.small {
  FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.small_right {
  FONT: 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000
}
.smallwhite {
  FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.headlinewhite {
  FONT-SIZE: 20px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.small_Fett {
  FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000
}
.link_Fett {
  FONT: bold 11px/19px Verdana, Arial, Helvetica, sans-serif; COLOR: #ff9900; TEXT-DECORATION: none
}
.formular {
  FONT-SIZE: 10px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tbhead {
  FONT-WEIGHT: bolder; FONT-SIZE: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tbrow {
  FONT-SIZE: 12px; LINE-HEIGHT: 130%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.smallital {
  FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smallrasta {
  FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
