<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
    <title>{{ title }}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="ROBOTS" content="INDEX, FOLLOW">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    {% block blockHeader %}
    <meta property="og:type" content="website">
    {% endblock blockHeader %}
    <meta property="og:url" content="https://weisser-zwerg.dev{{ page.url }}">
    <meta property="og:updated_time" content="{{ page.date | dateIso }}">

    <meta itemprop="name" content="{{ title }}">
    <meta itemprop="description" content="{{ description }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">

    <link href="/css/main.css" rel="stylesheet">

    <link rel="webmention" href="https://webmention.io/weisser-zwerg.dev/webmention" />
    <link rel="pingback" href="https://webmention.io/weisser-zwerg.dev/xmlrpc" />
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">
<header class="col w-100 text-center bg-black p-3 mb-2" style="max-height: 5rem">
    <a href="/" style="text-decoration: none"><h1 class="headlinewhite" >Weisser Zwerg</h1></a>
</header>

{% block content %}
    <main class="container" style="flex-grow: 1;">
        {{ content | safe }}
    </main>
{% endblock content %}

<footer class="container" >
    <div class="row">
        <ul class="h-card">
            <li style="padding-left: 0;"><a class="p-name u-url" href="https://weisser-zwerg.dev">Weisser Zwerg Blog</a></li>
            <li style="padding-left: 0;"><a class="u-email" href="mailto:cs224@weisser-zwerg.dev">cs224@weisser-zwerg.dev</a></li>
        </ul>
    </div>
</footer>

</body>
</html>