{% extends "base.njk" %}


{% block blockHeader %}
<meta property="og:type" content="article">
<meta property="article:author" content="https://weisser-zwerg.dev">
{% endblock blockHeader %}


{% block content %}
<main class="container d-flex" style="flex-grow: 1;">
    <article class="h-entry d-flex">
        <!-- https://stackoverflow.com/questions/1122381/how-to-force-child-div-to-be-100-of-parent-divs-height-without-specifying-pare/23300532#23300532 -->
        <div class="d-flex flex-column justify-content-between">
            <div>
                <h1 class="p-name"><a class="u-url" href="{{ page.url }}" style="text-decoration: none; color: black">{{ title }}</a></h1>
                <p>Published by <a class="p-author h-card" href="http://weisser-zwerg.dev">Weisser Zwerg Blog</a> on <time class="dt-published" datetime="{{ creationdate | dateIso }}">{{ creationdate | dateReadable }}</time></p>

                <p class="p-summary">{{ description }}</p>

                <div>
                    <amp-social-share type="email"></amp-social-share>
                    <amp-social-share type="facebook" data-param-app_id="254325784911610"></amp-social-share>
                    <amp-social-share type="linkedin"></amp-social-share>
                    <amp-social-share type="twitter"></amp-social-share>
                </div>

                <div class="e-content">
                    {{ content | safe }}
                </div>
            </div>
            <div>
                {% if syndicatedAt.length > 0 %}
                <p style="margin:0; paddding:0">
                    Syndicated at:
                <ul style="margin:0; paddding:0">
                    {% for syndication in syndicatedAt %}
                        <li style="margin:0; paddding:0"><a rel="syndication" class="u-syndication" href="{{ syndication.url }}">{{ syndication.name }}</a></li>
                    {% endfor %}
                </ul>
                </p>
                {% endif %}
                {% if categories.length > 0 %}
                <p style="margin:0; paddding:0">
                    Tags:
                <ul style="margin:0; paddding:0">
                    {% for category in categories %}
                        <li style="margin:0; paddding:0"><span class="p-category">{{ category }}</span></li>
                    {% endfor %}
                </ul>
                </p>
                {% endif %}

                <form class="webmention-form ui form" action="https://webmention.io/weisser-zwerg/webmention" method="post">
                    <div class="fields">
                        <div class="twelve wide field">
                            <label>Have you written a <a href="https://indieweb.org/responses">response</a> to this? Let me know the URL:</label>
                            <input type="url" name="source" class="url">
                        </div>
                        <div class="four wide field">
                            <label>&nbsp;</label>
                            <input type="submit" class="ui submit button" value="Send Webmention">
                        </div>
                    </div>
                    <div class="status hidden">
                        <div class="ui message"></div>
                    </div>
                    <input type="hidden" name="target" value="https://weisser-zwerg{{ page.url }}">
                </form>
                {%- set webmentionUrl -%}{{ page.url | url | absoluteUrl(metadata.url) }}{%- endset -%}
                {% include 'webmentions.njk' %}
            </div>
        </div>
    </article>
</main>
{% endblock content %}
