@use "sass:map";
@use "./tokens" as *;
@use "./sharingbuttons";
@use "./webmentions";

.headline {
  font-weight: bold; color: #336699;
}

.headlinewhite {
  font-weight: bold; color: #ffffff;
}

a {
  color: #ff9900;
}

.bg-black {
  background-color: #000000 !important;
}

.utterances {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: map.get($grid-breakpoints, "xl"); // 1200px
  margin-left: auto;
  margin-right: auto;
}
.utterances-frame {
  position: absolute;
  left: 0;
  right: 0;
  width: 1px;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  border: 0;
}

.footnotes {
  font-size: smaller;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.header-anchor {
  float: left;
  margin-left: -20px;
  line-height: 1;
}

pre {
  margin-left: 4rem;
}

blockquote {
  margin-left: 4rem;
  padding-left: 8px;
  box-shadow: rgb(36, 36, 36) 2px 0px 0px 0px inset;
}


:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  font-size: smaller !important;
}

.roundedBorder {
  border: 2px solid yellowgreen;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;  
}

.site-title {
  display: inline;
  font-size: 2.5rem;   /* matches h1 */
  font-weight: 500;
  line-height: 1.2;
}
