@import '../node_modules/bootstrap-scss/bootstrap';

.headline {
  font-weight: bold; color: #336699;
}

.headlinewhite {
  font-weight: bold; color: #ffffff;
}

a {
  color: #ff9900;
}

.bg-black {
  background-color: #000000 !important;
}

@import './sharingbuttons';
